@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>jMVC</h1>
    <p class="lead">jMVC é um framework em JavaScript (jQuery) para o desenvolvimento do front-end de aplicações Web.</p>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Recursos do Framework</h2>
        <p>
            <ul>
                <li>
                    Separação lógia entre a interface (HTML) e o código controlador (jQuery). Fácil adaptação da UI ao desing. 
                </li>
                <li>
                    Tráfego de dados SERVER/CLIENT em JSON via AJAX.
                </li>
                <li>
                    Desenvolvimento rápido, com vários plugins de construção de UI.
                </li>
				<li>
                    Validação primária de dados do lado do client, através de tags nos elementos HTML (input / select). 
                </li>
                <li>
                    Aplicações rápidas e sem o efeito de "postback", pois apenas os dados trafegam através da conexão HTTP. 
                </li>

            </ul>
        </p>
    </div>
    
    <div class="col-md-6">
        <h2>Plugins Utilizados no Framework  </h2>
        <p>
            <ul>
                <li>
                   <b>DataTables</b> : plugin de configuração e construção de tabelas de dados.
                    <br /> <a href="https://datatables.net"> Mais detalhes </a>
                 </li>

                <li>
                    <b>VEX</b> : plugin de construção de caixa de mensagem (alertas).
                    <br /> <a href="http://github.hubspot.com/vex/docs/welcome"> Mais detalhes </a>
                </li>

                <li>
                    <b>NOTIFY</b> : plugin de construção de caixa de mensagem (notificações).
                    <br /> <a href="https://notifyjs.com"> Mais detalhes </a>
                                                            
                </li>
              
            </ul>
        </p>
    </div>


</div>

<br />

<div class="row">

    <div class="col-md-4">
       
        
    </div>

    <div class="col-md-4">
        <h2>Veja um exemplo do jMVC</h2>
        <p>Acesse o link abaixo para visualizar um exemplo de utilização do jMVC.</p>
        <p><a class="btn btn-default" href="Test">Clique aqui</a></p>
    </div>

    <div class="col-md-4">


    </div>

</div>
